<%= form_for [@service] do |f| %>

<div class="field-new-user">
<%= f.select(:trade_id) do %>
  <% Trade.all.each do |c| %>
    <%= content_tag(:option, c.name, value: c.id) %>
  <% end %>
<% end %>
</div>


<div class="field-new-user">
     <%= f.label :type_of_service %><br />
     <%= f.text_field :type_of_service %>
   </div>

   <div class="field-new-user">
       <%= f.label :price %><br />
       <%= f.text_field :price %>
    </div><br>

        <div class="actions-new-user">
          <%= f.submit(class: "btn-new-user") %>
        </div><br>
<% end %>
