<%= form_for [@service] do |f| %>



<%= f.select(:trade_id) do %>
  <% Trade.all.each do |c| -%>
    <%= content_tag(:option, c.name, value: c.id) %>
  <% end %>
<% end %>


<div class="field">
     <%= f.label :type_of_service %><br />
     <%= f.text_field :type_of_service %>
  </div>

  <div class="field">
       <%= f.label :price %><br />
       <%= f.text_field :price %>
    </div>

  <div class="actions">
     <%= f.submit %>
  </div>

<% end %>
