<%= form_for([@service, @job], html: {multipart: true}) do |f| %>

  <div class="field-job">
    <%= f.label :date %>
    <%= f.date_select :date %>

    <%= f.label :time %>
    <%= f.time_select :time %>


  <br>
    <div class="field-job-notes">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    </div>

</div>
  <br><div class="">
     <%= f.submit("Create Job", class: "btn-new-job") %>
  </div>


<br><% end %>
