<%= form_for([@trade, @job], html: {multipart: true}) do |f| %>

  <h2><p> <%= @trade.name.capitalize %> </p></h2>

  <div class="field-job">
    <%= f.select :service_id, @trade.services.collect { |s| [ "#{s.type_of_service}: (Price: $#{s.price} and Time: #{s.time} minutes)", s.id ] }, {include_blank: 'Select a Service'} %>
  </div><br>

    <div class="field-job">
      <%= f.label "Date:" %>
      <%= date_field_tag :date %>
    </div><br>

    <div class="field-job">
      <%= f.label "Time:" %>
    <%= f.time_select :date, ampm:true, start_hour: 8, end_hour: 18, minute_step: 15, :default => {:hour => '8', :minute => '00'} %>
    </div><br>

    <div class="field-job">
      <%= f.label "Note:" %>
      <%= f.text_area :note %>
    </div><br><br>

    <div class="field-job">
      <%= f.submit(class: "btn-new-job") %>
    </div><br>

<% end %>
