<%= form_for([@trade, @job], html: {multipart: true}) do |f| %>

  <h2><p> <%= @trade.name.capitalize %> </p></h2>

    <%= f.select :service_id, @trade.services.collect { |s| [ "#{s.type_of_service} - Price: $#{s.price}", s.id ] }, prompt: true %>

    <div class="field-job">
      <p>Date: <%= date_field_tag :date %></p>
      <p>Time: <%= f.time_select :datetime, include_blank: true, ampm:true, start_hour: 7, end_hour: 18, minute_step: 5 %></p>
    </div>

    <div class="field-job">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div><br><br>

    <div class="field-job">
      <%= f.submit(class: "btn-new-job") %>
    </div><br>

<% end %>
