
<h1><%= link_to "New Service Request", new_job_path %></h1>

<h2>Jobs Requested</h2>
<% @jobs.each do |job| %>
<h3 class="job-title"><%= job.title %></h3>
<p><%= job.details %></p>
<p><%= job.date %></p>
<p><%= job.time %></p>
<% end %>
