<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Book a Service</h1>

  <h2><p><%= @service.trade %> </p></h2>
  <p>Service: <%= @service.type_of_service %> </p>

<%= render 'form' %>
<%= link_to "Back to Home", root_url %>
