<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@user.errors.count, "error") %> below:</h2>
    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>

    </ul>
  </div>
<% end %>

  <% if current_user.role == "client" %>
    <% if @user.filled_address? %>
    <div class="book-service">
      <h1>Book a Service</h1>
        <%= render 'form' %>
        <%= link_to "Back to Home", root_url %>
      </div>
    <% end %>

  <% elsif current_user.role == "worker" %>
  <div class="book-service nothing">
    <h1>Worker cannot book a Service</h1>
    <p>COMING SOON!!</p>
</div>

  <% else current_user.role == "admin" %>
  <div class="book-service">
    <h1>Book a Service</h1>
    <%= render 'form' %>
    <%= link_to "Back to Home", root_url %>
  </div>
  <% end %>
