<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="book-service">

<% if current_user.role == "client" %>
<h1>Book a Service</h1>
  <h2>TRADE NAME<p> </p></h2>
  <p>Service: <%= @service.type_of_service %> </p>
  <p>Price: <%= @service.price %> </p>

<%= render 'form' %>
<%= link_to "Back to Home", root_url %>
<% end %>


<% if current_user.role == "worker" %>

<h1>Worker cannot book a Service</h1>
<p>COMING SOON!!</>
</div>
<% end %>

<% if current_user.role == "admin" %>
<h1>Book a Service</h1>
  <h2><p><%= @service.trade.capitalize %> </p></h2>
  <p>Service: <%= @service.type_of_service %> </p>
  <p>Price: <%= @service.price %> </p>

<%= render 'form' %>
<%= link_to "Back to Home", root_url %>
<% end %>
