<div class="job-show">
  <h1>
  <%= @job.service.trade.name.capitalize %></h1>
  <div class="job-details">


<p>Service: <%= @job.service.type_of_service %></p>
<p>Price: <%= @job.service.price %></p>

<h1><%= @job.title %></h1>
<p><%= @job.date.strftime('%B %d, %Y') %></p>
<p><%= @job.time.strftime('%I:%M%p') %></p>
<p>Notes: <%= @job.note %></p>
</div>
<%= link_to "Edit", edit_service_job_path(@job.service, @job) %> |
<%= link_to "Delete", @job, method: :delete, data: {confirm: "Are you sure you want to delete this service request?"} %> <br>
<br><%= link_to "Back to Account", current_user %> |
<%= link_to "Home", root_path %>

</div>
