<%= form_for @user do |f| %>
  <div class="field-home-address">
     <%= f.label :house_number %><br />
     <%= f.text_field :house_number %>
   </div>

   <div class="field-home-address">
      <%= f.label :apt_number %><br />
      <%= f.text_field :apt_number %>
    </div>

   <div class="field-home-address">
      <%= f.label :street %><br />
      <%= f.text_field :street %>
    </div>

     <div class="field-home-address">
        <%= f.label :province %><br />
        <%= f.text_field :province %>
      </div>

      <div class="field-home-address">
         <%= f.label :country %><br />
         <%= f.text_field :country %>
       </div>

  <div class="actions-home-address">
     <%= f.submit("Update Home Address", method: "put", class: "btn-new-home-address") %>
  </div>

<% end %>
