<%= form_for [@submission] do |f| %>

<div class="field-session">
   <%= f.label :trade_requested %><br />
   <%= f.text_field :trade_requested %>
 </div>


  <div class="field-session">
     <%= f.label :deliverables_requested %><br />
     <%= f.text_field :deliverables_requested %>
   </div>

   <div class="field-session">
      <%= f.label :about_requested %><br />
      <%= f.text_field :about_requested %>
    </div>


  <div class="actions-home-address">
     <%= f.submit("Complete Request", class: "btn-session") %>
  </div>

<% end %>
