<% if current_user.role == "admin" %>
<div class="user-dashboard">
<div class="side-menu-admin">
  <!-- <div class="account-side-menu"> -->
    <ul>
    <li><button data-tab="personal">My Account</button></li>

    <!-- </div> -->
    <!-- <div class="service-side-menu"> -->
    <li><input type="button" value="Create a service" onclick="window.location.href='/services/new'"></li>
    <li><input type="button" value="Create a trade" onclick="window.location.href='/trades/new'"></li>
  </ul>
</div>
<div class="dashboard-feed">
  <div class="personal-dashboard-details" id="dashboard-details">
    <%= link_to user_path do %>
  <h1>Hello, <%= @user.first_name.capitalize %> <br> <%= @user.role.capitalize%>'s Dashboard </h1>
<% end %>
  <div class="jobs-dashboard show" id="jobs-pending">
    <h1>Jobs Pending: <%= @jobs_pending_admin.count %></h1>
      <% @jobs_pending_admin.each do |job| %>
      <div class="requested">
        <div class="job-title-user">
        <%= link_to job_path(job) do %>
        <ul>
        <li><%= job.service.trade.name.capitalize %></li>
      <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
      <% end %>

      <li><b>Price: <%= number_to_currency(job.service.price) %></b></li>
      <li><%= job.date.strftime('%B %d, %Y') %></li>
      <li><%= job.date.strftime('%I:%M%p')%></li>
      <li>Note: <%= job.note %></li><br>
      <li>Client: <%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></li>

      <% if job.job_pending? %>
        <li>Status: <b> Awaiting Acceptance</b></li>
      </ul>
    <br>
        <%= link_to "Edit", edit_trade_job_path(job.service.trade, job) %> |
        <%= link_to "Delete", job_path(job), method: :delete, data: {confirm: "Are you sure you want to delete this service request?"}  %>
        <% end %>
      </div>
        <% end %>
  </div>
  <div class="jobs-dashboard show" id="jobs-accepted">
    <h1>Jobs Accepted: <%= @jobs_accepted_admin.count %></h1>
        <% @jobs_accepted_admin.each do |job| %>
        <div class="requested">
        <div class="job-title-user">
      <%= link_to job_path(job) do %>
      <ul>
      <li><%= job.service.trade.name.capitalize %>
        <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
        <% end %>
        <li><b>Price: <%= number_to_currency(job.service.price) %></b></li>
        </h2>
        <li><%= job.date.strftime('%B %d, %Y') %></li>
        <li><%= job.date.strftime('%I:%M%p')%></li>
        <li>Note: <%= job.note %></p>

        <% if job.job_accepted? %>
        <li><b><%= job.worker.first_name.capitalize %> <%= job.worker.last_name.capitalize %>, at your service!</b></li>
        <li><%= job.user.address %></li>
      </ul>
    </br>
        <%= link_to "Cancel Request", job_path(job), method: :delete, data: {confirm: "Are you sure you want to delete this service request?"}  %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="jobs-dashboard show" id="jobs-completed">
  <h1>Jobs Requiring Client Completion: <%= @jobs_completed_admin.count %></h1>
        <% @jobs_completed_admin.each do |job| %>
        <div class="requested">
        <div class="job-title-user">
      <%= link_to job_path(job) do %>
      <ul>
      <li><%= job.service.trade.name.capitalize %><li>
        <li>Service: <%= job.service.type_of_service.capitalize %><li></div>
        <% end %>
        <li>Price: <%= number_to_currency(job.service.price) %><li>
        <li><%= job.date.strftime('%B %d, %Y') %><li>
        <li><%= job.date.strftime('%I:%M%p')%><li>
        <li>Note: <%= job.note %><li>

            <li>Worker Name: <b><%= job.worker.first_name.capitalize %> <%= job.worker.last_name.capitalize %></b></li>
        <li>Address: <%= job.user.address.house_number%> <%=job.user.address.street.titleize%>,<br> <%= job.user.address.city.capitalize %>, <%= job.user.address.province.capitalize %>, <%= job.user.address.country.capitalize %>, <br> <%= job.user.address.postal_code.capitalize %></li>
        <li>Worker done:<b> <%= job.job_closed.strftime('%B %d, %Y') %>, <%= job.job_closed.strftime('%I:%M%p') %><b/></li>

          </div>
        <% end %>
  </div>

  <div class="jobs-dashboard show" id="jobs-history">
    <h1>Jobs Completed: <%= @jobs_history_admin.count %></h1>
        <% @jobs_history_admin.each do |job| %>
        <div class="requested">
          <div class="job-title-user">
      <%= link_to job_path(job) do %>
      <ul>
      <li><%= job.service.trade.name.capitalize %></li>
        <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
        <% end %>
        <li><b>Price: <%= number_to_currency(job.service.price) %></b></li>
        <li><%= job.date.strftime('%B %d, %Y') %></li>
        <li><%= job.date.strftime('%I:%M%p')%></li>
        <li>Note: <%= job.note %></li>

        <li><b><%= job.worker.first_name.capitalize %> <%= job.worker.last_name.capitalize %>,</b> completed this job!</li>
        <li>Address: <%= job.user.address.house_number%> <%=job.user.address.street.titleize%>,<br> <%= job.user.address.city.capitalize %>, <%= job.user.address.province.capitalize %>, <%= job.user.address.country.capitalize %>, <br> <%= job.user.address.postal_code.capitalize %></li>
        <li>Closed:<b> <%= job.job_closed.strftime('%B %d, %Y') %>, <%= job.job_closed.strftime('%I:%M%p') %><b/></li>


      </div>
      <% end %>
    </div>

<div class="jobs-dashboard show wtv" id="jobs-">
<div class="requested">

<h3> Client turned workers</h3>
<% @admin_worker_granted.each do |j| %>

<%= j.user.first_name.capitalize %> <%= j.user.last_name.capitalize %><br>
<%= number_to_phone(j.user.phone_number) %><br>
<%= j.user.email %><br>
<%= j.user.address.house_number %> <%= j.user.address.street.capitalize %><br>
<%= j.user.address.city.capitalize %><br>
<%= j.user.address.province.capitalize %><br>
<%= j.user.address.postal_code.capitalize %><br>
<%= j.user.address.country.capitalize %><br>
<% end %>
    </div>
  </div>

  <h3> Client worker requests</h3>
<% @admin_worker_requests.each do |j| %>
<div class="requested">
  <% if @user.photo.present? %>
<%= image_tag(@user.photo_url.to_s)%>
<% end %>
<%= j.user.first_name.capitalize %> <%= j.user.last_name.capitalize %><br>
<%= number_to_phone(j.user.phone_number) %><br>
<%= j.user.email %><br>
<%= j.user.address.house_number %> <%= j.user.address.street.capitalize %><br>
<%= j.user.address.city.capitalize %><br>
<%= j.user.address.province.capitalize %><br>
<%= j.user.address.postal_code.capitalize %><br>
<%= j.user.address.country.capitalize %><br>
<h3> Worker Request </h3>
<%= j.trade_requested.capitalize %><br>
<%= j.deliverables_requested.capitalize %><br>
<%= j.about_requested %><br>

    <%= form_tag(worker_birth_path, method: "put") do %>
    <%= hidden_field_tag("submission_id", j.id) %>
      <%= submit_tag ("Birth") %>
  <% end %>
<%end%>
</div>


</div>
</div>

</div>


<% end %>
