<% if current_user.role == "admin" %>
<div class="user-dashboard">
<%= @user.role.capitalize%> Dashboard</p>
</div>
<div class="side-menu">
  <div class="account-side-menu">
    <ul>
    <h3>Account</h3>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Billing</a></li>
    </ul>
    </div>

    <div class="service-side-menu">
    <ul>
    <h3> Services </h3>
    <li><%= link_to "Create a service", new_service_url %></li>
    <h3> Trade </h3>
    <li><%= link_to "Create a trade", new_trade_url %></li>
  </ul>
      </div>

      <div class="job-side-menu">
      <h3> Jobs </h3>
        </div>
</div>
<div class="dashboard-feed">


  <h2>My Account</h2>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
<h2><%= @user.role.capitalize %></h2>
<h2>Jobs Pending: <%= @jobs_pending %></h2>
<h2>Job Accepted: <%= @jobs_accepted %></h2>

<% @admin_worker_requests.each do |j| %>

<%= j.first_name.capitalize %> <%= j.last_name.capitalize %><br>
<%= number_to_phone(j.phone_number) %><br>
<%= j.email %><br>
<%= j.address.house_number %> <%= j.address.street.capitalize %><br>
<%= j.address.city.capitalize %><br>
<%= j.address.province.capitalize %><br>
<%= j.address.postal_code.capitalize %><br>
<%= j.address.country.capitalize %><br>
<h3> Worker Request </h3>
<%= j.trade_request.capitalize %><br>
<%= j.deliverables_request.capitalize %><br>
<%= j.about_request.capitalize %><br>



  <%end%>
<% end %>
</div>
