<% if current_user.role == "client" %>
<div class="user-dashboard">
</div>
<div class="side-menu">
  <div class="account-side-menu">
  <%= link_to "Book new service!", root_path %></%>
  <ul>
  <h3>Account</h3>
  <% if @user.home_address? %>
  <li><%= render 'form_home_address' %></li>
  <% end %>
  <li><a href="#">Personal</a></li>
  <li><a href="#">Billing</a></li>
  </ul>
    </div>
</div>
<div class="dashboard-feed">
  <h2>My Account</h2>
  <h3><%= @user.role.capitalize%> Dashboard</p></h3>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <% if @user.filled_home_address? %>
  <p>Address: <%= @user.home_address %></p>
  <% end %>
  <h2>Jobs Pending: <%= @jobs_pending_client %></h2>
  <h2>Jobs Accepted: <%=  @jobs_accepted_client%></h2>

    <% @user.jobs.each do |job| %>
      <h2 class="job-title">
      <%= link_to job_path(job) do %>
      <%= job.service.trade.name %>
    <p>Service: <%= job.service.type_of_service %></p>
    <% end %>
    <p>Price: <%= job.service.price %></p>
      </h2>
    <p><%= job.date.strftime('%B %d, %Y') %></p>
    <p><%= job.time.strftime('%I:%M%p')%></p>
    <p>Note: <%= job.note %></p>

      <% if job.accepted? && job.worker_done? && job.client_done? %>
        <p>Worker Name: <b><%= job.worker.first_name %> <%= job.worker.last_name %></b></p>
        <p>Status: Job Closed</p>
        <p>Reviews:</p>
          <% job.reviews.each do |review| %>
            <p>Role <%= review.user.role.capitalize %></p>
            <p>Reviewed by: <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %></p>
            <p>Rating: <%= review.rating %></p>
            <p>Comments: <%= review.comment %></p>
          <% end %>


      <% elsif job.accepted? && job.worker_done? %>
        <p>Worker Name: <b><%= job.worker.first_name %> <%= job.worker.last_name %></b></p>
        <%= link_to "Close Job", new_job_review_path(job) %><br><br>

      <% elsif job.accepted? %>
        <p>Worker Name: <b><%= job.worker.first_name %> <%= job.worker.last_name %></b></p>
        <%= link_to "Delete", job_path(job), method: :delete, data: {confirm: "Are you sure you want to delete this service request?"}  %>

      <% else job.pending? %>
        <p>Status: <b> Awaiting Acceptance</b></p>

        <%= link_to "Edit", edit_service_job_path(job.service, job) %> |
        <%= link_to "Delete", job_path(job), method: :delete, data: {confirm: "Are you sure you want to delete this service request?"}  %>
      <% end %>
      <% end %>
  <%= link_to "Back to Home", root_path %>
<% end %>
</div>


<% if current_user.role == "worker" %>
<div class="user-dashboard">
<%= @user.role.capitalize%> Dashboard</p>
</div>
<div class="side-menu">
  <div class="account-side-menu">
    <ul>
    <h3>Account</h3>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Billing</a></li>
    </ul>
    </div>
</div>
<div class="dashboard-feed">
  <h2>My Account</h2>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
<h2> <%= @user.trade.name.capitalize%> </h2>

<h2>Jobs Pending:**** <%= @jobs_pending %></h2>
<h2>Job Accepted: <%= @jobs_accepted_worker %></h2>
    <% @jobs_from_requested_services.each do |job| %>
  <%= link_to job_path(job) do %>
    <h3>Service: <%= job.service.type_of_service.capitalize %></h3>
    <% end %>
    <p>Price: <%= job.service.price %></p>
    <p><%= job.date.strftime('%B %d, %Y') %></p>
    <p><%= job.time.strftime('%I:%M%p')%></p>
    <p>Note: <%= job.note %></p>

    <p>Name: <%= job.user.first_name %> <%= job.user.last_name %></p>
    <p>Address: <%= job.user.home_address %></p>

    <% if job.accepted? && job.worker_done? %>
      <p>Status: Job Closed</p>
      <p>Reviews:</p>

        <% job.reviews.each do |review| %>
          <p>Role: <%= review.user.role.capitalize %></p>
          <p>Name: <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %></p>
          <p>Rating: <%= review.rating %></p>
          <p>Comments: <%= review.comment %></p>
        <% end %>


    <% elsif job.accepted? %>
      <p>Status: In Progress</p>
      <%= link_to "Close Job", new_job_review_path(job) %>

    <% else %>
      <%= form_tag(job_accept_path(job), method: "put") do %>
        <%= submit_tag ("Accept") %>
      <% end %>
    <% end %>
  <% end %>
  <% end %>

</div>


<% if current_user.role == "admin" %>
<div class="user-dashboard">
<%= @user.role.capitalize%> Dashboard</p>
</div>
<div class="side-menu">
  <div class="account-side-menu">
    <ul>
    <h3>Account</h3>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Billing</a></li>
    </ul>
    </div>

    <div class="service-side-menu">
    <ul>
    <h3> Services </h3>
    <li><%= link_to "Create a service", new_service_url %></li>
    <h3> Trade </h3>
    <li><%= link_to "Create a trade", new_trade_url %></li>
  </ul>
      </div>

      <div class="job-side-menu">
      <h3> Jobs </h3>
        </div>
</div>
<div class="dashboard-feed">


  <h2>My Account</h2>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
<h2><%= @user.role.capitalize %></h2>
<h2>Jobs Pending: <%= @jobs_pending %></h2>
<h2>Job Accepted: <%= @jobs_accepted %></h2>
<% end %>
</div>
