<% if current_user.role == "worker" %>
<div class="user-dashboard">
</div>
<div class="side-menu">
  <div class="account-side-menu">
  </div>
  <ul>
  <li><button data-tab="personal">My Account</button></li>
  </ul>
  <ul>
  <li><button data-tab="pending">Pending Jobs<%  if @jobs_pending_client.count >= 1 %>: <%= @jobs_pending_client.count %><%end%></button></li>
  <li><button data-tab="accepted">Accepted Jobs<%  if @jobs_accepted_client.count >= 1 %>: <%= @jobs_accepted_client.count %><%end%></button></li>

  <li><button data-tab="completed">Jobs to be closed<%  if @jobs_completed_client.count >= 1 %>: <%= @jobs_completed_client.count %>*<%end%></button></li>

  <li><button data-tab="history">Jobs History<%  if @jobs_history_client.count >= 1 %>: <%= @jobs_history_client.count %><%end%></button></li>

  </ul>
    </div>
  <div class="dashboard-feed">
  <div class="personal-dashboard-details" id="dashboard-details">
  <%= link_to user_path do %>
  <h1><%= @user.first_name.capitalize %>'s Dashboard (<%= @user.role.capitalize%>)</h1>
  <% end %>
  <h2> <%= @user.trade.name.capitalize%> </h2>
  <% if @user.address? %>
  <h1>Complete Your Account</h1>
  <h3>Before you can book your first service request, you must complete your account by adding your primary address</h3>
 <%= render 'form_home_address_worker' %>
 <% else @user.filled_address? %>
</div>


<div class="jobs-dashboard" id="jobs-personal">

  <h2>My Account</h2>
  <h3>My Rating: <%= @worker_rating %></h3>

  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Address: <%= @user.address %></p>
  <p>Phone Number: <%= number_to_phone(@user.phone_number) %></p>
</div>




<div class="jobs-dashboard show wtv" id="jobs-pending">
<h1>Jobs Pending: <%= @jobs_pending_worker.count %> </h1>
    <% @jobs_pending_worker.each do |job| %>
    <div class="requested">
      <div class="job-title-user">
  <%= link_to job_path(job) do %>
  <ul>
    <li><b>Service: <%= job.service.type_of_service.capitalize %></b>  </li></div>
    <% end %>
    <li><b>Price: <%= number_to_currency(job.service.price) %></b></li>
    <li><%= job.datetime.strftime('%B %d, %Y') %></li>
    <li><%= job.datetime.strftime('%I:%M%p')%></li>
    <li>Note: <%= job.note %></li>

    <li>Name: <%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></li>
    <li><b><%= job.user.address %></b></li>
  </ul>
  <% if job.job_pending? %>
      <%= form_tag(job_accept_path(job), method: "put") do %>
        <%= submit_tag ("Accept") %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>

<div class="jobs-dashboard show wtv" id="jobs-accepted">
  <h1>Jobs Accepted: <%= @jobs_accepted_worker.count %></h1>
      <% @jobs_accepted_worker.each do |job| %>
      <div class="requested">
        <div class="job-title-user">
    <%= link_to job_path(job) do %>
    <ul>
      <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
      <% end %>
      <li>Price: <%= number_to_currency(job.service.price) %></li>
      <li><%= job.datetime.strftime('%B %d, %Y') %></li>
      <li><%= job.datetime.strftime('%I:%M%p')%></li>
      <li>Note: <%= job.note %></li>

      <li>Client name: <%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></li>
        <li>Address: <%= job.user.address %> </li>
        </ul>
      <% if job.job_accepted? %>
      <p><b>Status: In Progress</b></p>
      <%= link_to "Close Job", new_job_review_path(job) %>
      <% end %>
    </div>
    <% end %>
</div>

<div class="jobs-dashboard" id="jobs-completed">
  <h1>Jobs Completed: <%= @jobs_completed_worker.count %> </h1>
      <% @jobs_completed_worker.each do |job| %>
      <div class="requested">
      <div class="job-title-user">
    <%= link_to job_path(job) do %>
      <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
      <% end %>
      <li>Price: <%= number_to_currency(job.service.price) %></li>
      <li><%= job.datetime.strftime('%B %d, %Y') %></li>
      <li><%= job.datetime.strftime('%I:%M%p')%></li>
      <li>Note: <%= job.note %></p>

      <li>Client name: <%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></li>
      <li>Address: <%= job.user.address %></li>
      <% if job.job_completed? %>
      <li>Status: Job Closed</li>
      <!-- <h4>Review</h4> -->

        <%# job.reviews.each do |review| %>
          <!-- <li>Comments: <%#= review.comment %></li>
        </ul> -->
        <%# end %>

      <% end %>
    </div>
    <% end %>
</div>

<div class="jobs-dashboard" id="jobs-history">
  <h1>History: <%= @jobs_history_worker.count %> </h1>
      <% @jobs_history_worker.each do |job| %>
      <div class="requested">
        <div class="job-title-user">
    <%= link_to job_path(job) do %>
      <li>Service: <%= job.service.type_of_service.capitalize %></li></div>
      <% end %>
      <li><b>Price: <%= number_to_currency(job.service.price) %></b></li>
      <li><%= job.datetime.strftime('%B %d, %Y') %></li>
      <li><%= job.datetime.strftime('%I:%M%p')%></li>
      <li>Note: <%= job.note %></li>

      <li>Client name: <%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></li>
      <li>Address: <%= job.user.address %></li>
    </div>
      <% end %>
  <% end %>


<% end %>
</div>
</div>
