<%= form_for [@address] do |f| %>
<%= f.hidden_field :trade_id, value: params[:trade_id] %>

  <div class="field-session">
    <%= fields_for :phone_number, @user do |d| %>
      <%= d.label :phone_number %><br />
      <%= d.text_field :phone_number, placeholder: "4161234567" %>
     <% end %>
  </div>

  <div class="field-session">
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field-session">
    <%= f.label :unit_number %><br />
    <%= f.text_field :unit_number, placeholder: "if applicable" %>
  </div>

  <div class="field-session">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field-session">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field-session">
    <p>Province: <%= f.select(:province) do %></p>
      <%= content_tag(:option, "Ontario", value: "ontario") %>
    <% end %>
  </div>

  <div class="field-session">
   <%= f.label :postal_code %><br />
   <%= f.text_field :postal_code %>
  </div>

  <div class="field-session">
    <p>Country: <%= f.select(:country) do %></p>
      <%= content_tag(:option, "Canada", value: "canada") %>
    <% end %>
  </div><br>

  <div class="actions-home-address">
    <%= f.submit("Complete Account", class: "btn-session") %>
  </div>

<% end %>
