<%= form_for [@job, @review] do |f| %>
  <div class="field-job">

    <legend>Please rate your worker:</legend>
    <%= f.radio_button(:rating, "5", name: "rating") %> <%= f.label(:rating.to_s + "_5", "Rocks", class: "label") %>
    <%= f.radio_button(:rating, "4", name: "rating") %> <%= f.label(:rating.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:rating, "3", name: "rating") %> <%= f.label(:rating.to_s + "_3", "Meh") %>
    <%= f.radio_button(:rating, "2", name: "rating") %> <%= f.label(:rating.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:rating, "1", name: "rating") %> <%= f.label(:rating.to_s + "_1", "Sucks big time") %>


  <div class="field-job">
    Job <%= f.label :comments %><br />
     <%= f.text_area :comment %>
  </div>

  <br><div class="actions">
     <%= submit_tag("Submit Review", class: "btn-new-review") %>
  </div>
<% end %>
