<%= form_for [@job, @review] do |f| %>
  <div class="field-job">

    <legend>Please rate your worker:</legend>
    <%= radio_button(:review, :rating, "5",) %>
    <%= radio_button(:review, :rating, "4",) %>
    <%= radio_button(:review, :rating, "3",) %>
    <%= radio_button(:review, :rating, "2",) %>
    <%= radio_button(:review, :rating, "1",) %>


  <div class="field-job">
    Job <%= f.label :comments %><br />
     <%= f.text_area :comment %>
  </div>

  <br><div class="actions">
     <%= submit_tag("Submit Review", class: "btn-new-review") %>
  </div>
<% end %>
