<%= form_for [@job, @review] do |f| %>
  <div class="field-job">
   Client <%= f.label :rating %><br />
   <%= f.text_field :rating %>
  </div>

  <div class="field-job">
    Job <%= f.label :comments %><br />
     <%= f.text_area :comment %>
  </div>

  <br><div class="actions">
     <%= submit_tag("Submit Review", class: "btn-new-review") %>
  </div>
<% end %>
