<!DOCTYPE html>
<html>
  <head>
    <title>ServiceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">

        <h1 class="logo"><%= link_to "ServiceU", root_path %></h1>

        <nav class="site-nav">
          <% if current_user %>
            <%= current_user.first_name.capitalize %>
            <%= link_to "Dashboard", current_user %> |
            <%= link_to "Logout", :logout, method: :post %>

          <% else %>
            <%= link_to "Register", new_user_path %> |
            <%= link_to "Login", :login %>
          <% end %>
        </nav>
      </header>

      <% flash.each do |key, message| %>
        <div class="flash-<%= key %>"><%= message %></div>
      <% end %>

      <main>
        <%= yield %>
      </main>

      <footer class="site-footer">
        <p>	&copy ServiceU<p>
      </footer>
      <% console %>
  </body>
</html>
